@keyframes arrow{
	0%{
		opacity: 1;
		bottom: -30px;
	}
	99.9%{
		opacity: 1;
		bottom: 3.14%;
	}
	100%{
		opacity: 0;
		bottom: 3.14%;
	}
}
@keyframes meteor{
	0%{ 
		top:32.4%;
		left:99%;
	}
	100%{
		top:3.4%;
		left:-26%;
	}
}
@keyframes meteor1{
	0%{ 
		top:57.7%;
		left:-22%;
	}
	100%{
		top:73.9%;
		left:86%;
	}
}
@keyframes meteor2{
	0%{ 
		top:60.4%;
		left:94%;
	}
	100%{
		top:98.4%;
		left:-19%;
	}
}
.swiper_w>.swiper-slide{width: 100%; text-align: center; position: relative;}

.btn_box{ height: 9.74%; position: relative; z-index: 10; }
.btn{ text-align: center; position: absolute; top:60%; right:6%; font-size: 16px;  }
.btn span{ display: inline-block; width:20px; height: 20px;border-radius: 50%; background: #fff;  }

.swiper_w>.swiper-slide{ background: #000; overflow: hidden;}
.swiper_w>.swiper-slide:nth-child(1) .progress{ width: 100%; background: #cf121b; height: 10px }
.swiper_w>.swiper-slide:nth-child(1) .color_lump{ max-width: 807px; width: 82.4%; margin:8.09% auto 0; position: relative; }
.swiper_w>.swiper-slide:nth-child(1) .color_lump img{ position: absolute; }
.swiper_w>.swiper-slide:nth-child(1) .color_lump img:nth-child(1){ top:0;right:0; width: 100%; height: 100%; }
.swiper_w>.swiper-slide:nth-child(1) .color_lump img:nth-child(2){ top:0;left:0; height: 100%;}
.swiper_w>.swiper-slide:nth-child(1) .color_lump img:nth-child(3){ bottom:0;left:0; width: 100%;}
.swiper_w>.swiper-slide:nth-child(1) .color_lump img:nth-child(5){ bottom:0;right:0; width: 73%; }
.swiper_w>.swiper-slide:nth-child(1) .color_lump img:nth-child(4){ width: 24.59%; left:22.36%; top:22.17%; }
.swiper_w>.swiper-slide:nth-child(1) .color_lump img:nth-child(6){ width: 26.58%; left:39.5%; top:0%; }
.swiper_w>.swiper-slide:nth-child(1) .color_lump img:nth-child(7){ width: 12.2%; left:53.5%; top:0%; }
.swiper_w>.swiper-slide:nth-child(1) .color_lump img:nth-child(8){ width: 21.52%; left:0%; top:35.17%; }
.swiper_w>.swiper-slide:nth-child(1) .color_lump img:nth-child(9){ width: 12.29%; left:4.6%; top:39.7%; }
.swiper_w>.swiper-slide:nth-child(1) .color_lump img:nth-child(10){ width: 77.66%; left:22.3%; bottom:0; }
.swiper_w>.swiper-slide:nth-child(1) .color_lump img:nth-child(11){ width:7.11%; left:26.7%; bottom:51.7%; }
.swiper_w>.swiper-slide:nth-child(1) .color_lump img:nth-child(12){ width:16.82%; left:27%; bottom:0; }
.swiper_w>.swiper-slide:nth-child(1) .color_lump img:nth-child(13){ width:14.48%; left:46.6%; bottom:0; }
.swiper_w>.swiper-slide:nth-child(1) .color_lump img:nth-child(14){ width:11.78%; left:63.8%; bottom:0; }
.swiper_w>.swiper-slide:nth-child(1) .color_lump img:nth-child(15){ width:7.98%; left:78.3%; bottom:0; }
.swiper_w>.swiper-slide:nth-child(1) .color_lump img:nth-child(16){ width:10.52%; right:0; bottom:0; }
.swiper_w>.swiper-slide:nth-child(1) .color_lump img:nth-child(17){ width:13.2%; left:39.6%; bottom:34.8%; }
.swiper_w>.swiper-slide:nth-child(1) h2{ width: 50.13%; margin:10.19% auto 0; }
.swiper_w>.swiper-slide:nth-child(1) h2 img{ width: 100%; }
.swiper_w>.swiper-slide:nth-child(1) h1{ width: 77.46%; margin:2.54% auto 0; }
.swiper_w>.swiper-slide:nth-child(1) h1 img{ width: 100%; }
.swiper_w>.swiper-slide:nth-child(1) .music{width: 8.09%; position: absolute; bottom: 3.14%; right:7.1%; }
.swiper_w>.swiper-slide:nth-child(1) .music img{  width: 100%; }
.swiper_w>.swiper-slide:nth-child(1) .meteor1{ width: 36%; position: absolute; top:11.4%;left: 15%; animation: meteor 1s linear infinite; }
.swiper_w>.swiper-slide:nth-child(1) .meteor1 img{ width: 100%; }
.swiper_w>.swiper-slide:nth-child(1) .meteor2{ width: 27.73%; position: absolute; top:61.9%;left: 10%; animation: meteor1 1.2s linear infinite;}
.swiper_w>.swiper-slide:nth-child(1) .meteor1 img{ width: 100%; }
.swiper_w>.swiper-slide:nth-child(1) .meteor3{ width: 39.73%; position: absolute; top:70.4%;left: 64%; animation: meteor2 0.7s linear infinite;}
.swiper_w>.swiper-slide:nth-child(1) .meteor1 img{ width: 100%; }

.swiper_w>.swiper-slide:nth-child(2) .bigImg{ width: 100%; position: absolute; left:0; top:0; }
.swiper_w>.swiper-slide:nth-child(2) .dare{ position: absolute; width: 100%; bottom:21.96%; text-align: center; }
.swiper_w>.swiper-slide:nth-child(2) .dare img{ width: 84.13%; }
.swiper_w>.swiper-slide:nth-child(2) .dare_c{ position: absolute; width: 100%; bottom:13.64%; text-align: center; }
.swiper_w>.swiper-slide:nth-child(2) .dare_c img{ width:79.2%; }

.swiper_w>.swiper-slide:nth-child(3) .text3{ width: 41.7%; position: absolute; top:12.8%; left:5.6%; }
.swiper_w>.swiper-slide:nth-child(3) .luntan{ width: 47.2%; position: absolute; top:18.29%; left:52.4%; }
.swiper_w>.swiper-slide:nth-child(3) .banjang{ width: 44.66%; position: absolute; top:35.3%; left:3.6%; }
.swiper_w>.swiper-slide:nth-child(3) .dingji{ width: 63.06%; position: absolute; top:46%; left:36.13%; }
.swiper_w>.swiper-slide:nth-child(3) .dream{ width: 42.66%; position: absolute; top:64.8%; left:7.4%; }
.swiper_w>.swiper-slide:nth-child(3) .ketang{ width: 43.7%; position: absolute; top:72.3%; left:51.2%; }
.swiper_w>.swiper-slide:nth-child(3) .xiao1{ width: 9.06%; position: absolute; top:87.3%; left:19.3%; }
.swiper_w>.swiper-slide:nth-child(3) .xiao2{ width: 10.13%; position: absolute; top:44.3%; left:76.8%; }
.swiper_w>.swiper-slide:nth-child(3) .xiao3{ width: 10.93%; position: absolute; top:10.6%; left:49.3%; }

.swiper_w>.swiper-slide:nth-child(4){ background: #fff; }
.swiper_w>.swiper-slide:nth-child(4) .bal_yu{ width:640px;height:640px; position: absolute; border-radius: 50%; background: #000;left:0;right:0; top:0;bottom:0; margin:auto; }
.swiper_w>.swiper-slide:nth-child(4) .line_box{position: absolute; z-index: 1; width: 100%; height: 100%; top:0; max-width: 980px; margin:0 auto; }
.swiper_w>.swiper-slide:nth-child(4) .line_box img{position: absolute; width: 100%;top:12.6%; left:0;}
.swiper_w>.swiper-slide:nth-child(4) .line_box .li_yu{ background: #000; position: absolute; width: 40px; height: 40px; left:50%; margin-left: -20px; top:50%; margin-top:-20px; border-radius: 50%;}
.swiper_w>.swiper-slide:nth-child(4) #header_img{ width: 100%; height: 100%;position: absolute; top:0; left:0;z-index: 2; }
.swiper_w>.swiper-slide:nth-child(4) #header_img img{transform: scale(1); position: absolute; }
.swiper_w>.swiper-slide:nth-child(4) #header_img a:nth-child(1) img{ width: 18.5%; top:18.6%; left:33.8%;  }
.swiper_w>.swiper-slide:nth-child(4) #header_img a:nth-child(2) img{ width: 20.9%; top:45.2%; left:74.8%;  }
.swiper_w>.swiper-slide:nth-child(4) #header_img a:nth-child(3) img{ width: 18.5%; top:62.2%; left:69.8%;  }
.swiper_w>.swiper-slide:nth-child(4) #header_img a:nth-child(4) img{ width: 20.5%; top:75.3%; left:27.4%;  }
.swiper_w>.swiper-slide:nth-child(4) #header_img a:nth-child(5) img{ width: 17.6%; top:60.4%; left:42.5%;  }
.swiper_w>.swiper-slide:nth-child(4) #header_img a:nth-child(6) img{ width: 20.5%; top:48.6%; left:13.2%;  }
.swiper_w>.swiper-slide:nth-child(4) #header_img a:nth-child(7) img{ width: 22.5%; top:28.4%; left:3.6%;  }
.swiper_w>.swiper-slide:nth-child(4) #header_img a:nth-child(8) img{ width: 20.5%; top:26.4%; left:71.6%;  }
.swiper_w>.swiper-slide:nth-child(4) .yud{ width: 100%; height: 100%; position: absolute; top:0; }
.swiper_w>.swiper-slide:nth-child(4) .yud img{ width: 100%;  }
.swiper_w>.swiper-slide:nth-child(4) .text4{font-size: 16px; width: 100%; text-align: center; position: absolute; top:39.5%;}
.swiper_w>.swiper-slide:nth-child(4) .text4 img:nth-child(1){ width: 12.26%;  }
.swiper_w>.swiper-slide:nth-child(4) .text4 img:nth-child(3){ width: 31.2%; margin-top:1%;  }
.swiper_w>.swiper-slide:nth-child(4)>img{ width: 41%; top:12.24%; left: 29.2%; position: absolute; }

.swiper_w>.swiper-slide:nth-child(5)>img{ width: 100%; position: absolute; top:0; left:0;  }
.swiper_w>.swiper-slide:nth-child(5) .kuang{ position: absolute; top:0; left:0;width: 100%; height: 100%; }
.swiper_w>.swiper-slide:nth-child(5) .kuang img{ position: absolute; width: 18.2%; }
.swiper_w>.swiper-slide:nth-child(5) .kuang img:nth-child(1){ top:26.3%; left:8.1%; }
.swiper_w>.swiper-slide:nth-child(5) .kuang img:nth-child(2){ top:21.7%; left:54.8%; }
.swiper_w>.swiper-slide:nth-child(5) .kuang img:nth-child(3){ top:25.9%; left:82.3%; }
.swiper_w>.swiper-slide:nth-child(5) .kuang img:nth-child(4){ top:41.5%; left:30.5%; }
.swiper_w>.swiper-slide:nth-child(5) .kuang img:nth-child(5){ top:45.6%; left:58.3%; }
.swiper_w>.swiper-slide:nth-child(5) .kuang img:nth-child(6){ top:61.2%; left:5.9%; }
.swiper_w>.swiper-slide:nth-child(5) .kuang img:nth-child(7){ top:60.7%; left:80.4%; }
.swiper_w>.swiper-slide:nth-child(5) .kuang img:nth-child(8){ top:67.4%; left:47.9%; }
.swiper_w>.swiper-slide:nth-child(5) .kuang img:nth-child(9){ top:87.4%; left:23.8%; }
.swiper_w>.swiper-slide:nth-child(5) .kuang img:nth-child(10){ top:82.6%; left:70.1%; }
.swiper_w>.swiper-slide:nth-child(5) #touxiang{ position: absolute; top:0; left: 0; width: 100%;height: 100%;}
.swiper_w>.swiper-slide:nth-child(5) #touxiang>div{ position: absolute;width: 23.4%; }
.swiper_w>.swiper-slide:nth-child(5) #touxiang>div img{ width: 100%; }
.swiper_w>.swiper-slide:nth-child(5) #touxiang>div:nth-child(1){top:21%; left:2%; }
.swiper_w>.swiper-slide:nth-child(5) #touxiang>div:nth-child(2){top:15%; left:49%; }
.swiper_w>.swiper-slide:nth-child(5) #touxiang>div:nth-child(3){top:19.9%; left:76.8%; }
.swiper_w>.swiper-slide:nth-child(5) #touxiang>div:nth-child(4){top:35%; left:24.6%; }
.swiper_w>.swiper-slide:nth-child(5) #touxiang>div:nth-child(5){top:39%; left:53.1%; }
.swiper_w>.swiper-slide:nth-child(5) #touxiang>div:nth-child(6){top:55.2%; left:0.4%; }
.swiper_w>.swiper-slide:nth-child(5) #touxiang>div:nth-child(7){top:60.9%; left:40.6%; }
.swiper_w>.swiper-slide:nth-child(5) #touxiang>div:nth-child(8){top:54.5%; left:73.6%; }
.swiper_w>.swiper-slide:nth-child(5) #touxiang>div:nth-child(9){top:81.7%; left:17.1%; }
.swiper_w>.swiper-slide:nth-child(5) #touxiang>div:nth-child(10){top:76.2%; left:63.7%; }
.swiper_w>.swiper-slide:nth-child(5) #touxiang .big_t{ transition: all 1s; transform: scale(0); position: absolute; width: 350%; }
.swiper_w>.swiper-slide:nth-child(5) #touxiang>div:nth-child(1) .big_t{ top:-35%; left:41%; }
.swiper_w>.swiper-slide:nth-child(5) #touxiang>div:nth-child(2) .big_t{ top:2%; left:-161%; }
.swiper_w>.swiper-slide:nth-child(5) #touxiang>div:nth-child(3) .big_t{ top:-30%; left:-280%; }
.swiper_w>.swiper-slide:nth-child(5) #touxiang>div:nth-child(4) .big_t{ top:-122%; left:-57%; }
.swiper_w>.swiper-slide:nth-child(5) #touxiang>div:nth-child(5) .big_t{ top:-147%; left:-178%; }
.swiper_w>.swiper-slide:nth-child(5) #touxiang>div:nth-child(6) .big_t{ top:-249%; left:47%; }
.swiper_w>.swiper-slide:nth-child(5) #touxiang>div:nth-child(7) .big_t{ top:-283%; left:-124%; }
.swiper_w>.swiper-slide:nth-child(5) #touxiang>div:nth-child(8) .big_t{ top:-245%; left:-265%; }
.swiper_w>.swiper-slide:nth-child(5) #touxiang>div:nth-child(9) .big_t{ top:-413%; left:-24%; }
.swiper_w>.swiper-slide:nth-child(5) #touxiang>div:nth-child(10) .big_t{ top:-380%; left:-224%; }
.swiper_w>.swiper-slide:nth-child(5) #touxiang .big_t .close_btn{ width: 15%;height: 10%;position: absolute; top:19px;right:0; }
.swiper_w>.swiper-slide:nth-child(5) #touxiang .active{ transform: scale(1);  }
.swiper_w>.swiper-slide:nth-child(5) .text5{ position: absolute;top:0; left:0; width: 100%; height: 100%; font-size: 16px; }
.swiper_w>.swiper-slide:nth-child(5) .text5 img:nth-child(1){ position: absolute; top:8.6%; left:8.9%; width: 12.4%;}
.swiper_w>.swiper-slide:nth-child(5) .text5 img:nth-child(3){ position: absolute; top:13.8%; left:11.1%; width:37.6%; }

.swiper_w>.swiper-slide:nth-child(6) p{ color: #fff; }
.swiper_w>.swiper-slide:nth-child(6)>p:nth-child(2){ font-size: 80%; margin-top: 3%; }
.swiper_w>.swiper-slide:nth-child(6)>p:nth-child(3){ font-size: 34%; }
.swiper_w>.swiper-slide:nth-child(6)>p:nth-child(4){ font-size: 34%; }
.swiper_w>.swiper-slide:nth-child(6) .text6{ position: absolute;  }
.swiper_w>.swiper-slide:nth-child(6) .text6 p:nth-child(1){ font-size: 40%; }
.swiper_w>.swiper-slide:nth-child(6) .text6 p:nth-child(2){ font-size: 34%; }
.swiper_w>.swiper-slide:nth-child(6) .cen_img{ position: relative; }
.swiper_w>.swiper-slide:nth-child(6) .cen_img img{ width: 54.5%; margin-top: 5.4%; }
.swiper_w>.swiper-slide:nth-child(6) .cen_img .ze_tu{ width: 54.6%; background: #000; height: 100%; position: absolute;bottom:0;left: 50%;margin-left:-27.3%;}
.swiper_w>.swiper-slide:nth-child(6)>img{ position: absolute; }
.swiper_w>.swiper-slide:nth-child(6)>img:nth-last-child(1){ width: 7.2%; left:0; bottom:2%; }
.swiper_w>.swiper-slide:nth-child(6)>img:nth-last-child(2){ width:6.1%; right:12.1%; bottom:3.8%; }
.swiper_w>.swiper-slide:nth-child(6)>img:nth-last-child(3){ width:7.2%; right:0%; bottom:38.1%; }
.swiper_w>.swiper-slide:nth-child(6)>img:nth-last-child(4){ width:7.2%; left:0%; top:34%; }
.swiper_w>.swiper-slide:nth-child(6)>img:nth-last-child(5){ width:9.8%; right:0%; top:28.7%; }
.swiper_w>.swiper-slide:nth-child(6)>img:nth-last-child(6){ width:7.6%; left:7.6%; top:11.4%; }
.swiper_w>.swiper-slide:nth-child(6) .t_wz1{ top:35%; left:30.7%; text-align: left; }
.swiper_w>.swiper-slide:nth-child(6) .t_wz2{ top:56.2%; left:4%; }
.swiper_w>.swiper-slide:nth-child(6) .t_wz3{ top:76.6%; left:28.7%; }

.swiper_w>.swiper-slide:nth-child(7) img{ position: absolute; }
.swiper_w>.swiper-slide:nth-child(7) img:nth-child(2){ width: 6.4%; top:11.2%; left:-1%; }
.swiper_w>.swiper-slide:nth-child(7) img:nth-child(3){ width: 36.4%; top:11.6%; left:5.8%; }
.swiper_w>.swiper-slide:nth-child(7) img:nth-child(4){ width: 39.3%; top:10.9%; left:53.6%; }
.swiper_w>.swiper-slide:nth-child(7) img:nth-child(5){ width: 36.2%; top:10.1%; left:28.5%; }
.swiper_w>.swiper-slide:nth-child(7) img:nth-child(6){ width: 4.5%; top:18.1%; left:95.4%; }
.swiper_w>.swiper-slide:nth-child(7) img:nth-child(7){ width: 8.4%; top:30%; left:91.6%; }
.swiper_w>.swiper-slide:nth-child(7) img:nth-child(8){ width: 8.4%; top:39.2%; left:43.8%; }
.swiper_w>.swiper-slide:nth-child(7) img:nth-child(9){ width: 4.1%; top:85.1%; left:92.6%; }
.swiper_w>.swiper-slide:nth-child(7) img:nth-child(10){ width:59.3%; top:29.3%; left:18.2%; }
.swiper_w>.swiper-slide:nth-child(7) img:nth-child(11){ width: 22.6%; top:73.3%; left:61.8%; }
.swiper_w>.swiper-slide:nth-child(7) img:nth-child(12){ width: 22.6%; top:59.8%; left:13.8%; }
.swiper_w>.swiper-slide:nth-child(7) img:nth-child(13){ width: 22.6%; top:77.6%; left:28.4%; }
.swiper_w>.swiper-slide:nth-child(7) img:nth-child(14){ width: 21.3%; top:59.2%; left:39.2%; }
.swiper_w>.swiper-slide:nth-child(7) img:nth-child(15){ width: 22.6%; top:39.5%; left:22.1%; }
.swiper_w>.swiper-slide:nth-child(7) img:nth-child(16){ width: 29.3%; top:41.8%; left:51.4%; }
.swiper_w>.swiper-slide:nth-child(7) img:nth-child(17){ width: 22.6%; top:58.3%; left:61.8%; }
.swiper_w>.swiper-slide:nth-child(7) p{ color: #fff; position: absolute;top:16.6%;left:25.2%; font-size: 80%; }

.swiper_w>.swiper-slide:nth-child(8) img{ position: absolute;  }
.swiper_w>.swiper-slide:nth-child(8) img:nth-child(2){ width: 6.4%; top:11.2%; left:-1%; }
.swiper_w>.swiper-slide:nth-child(8) img:nth-child(3){ width: 34.9%; top:11.6%; left:10.2%; }
.swiper_w>.swiper-slide:nth-child(8) img:nth-child(4){ width: 34.6%; top:11%; left:58.8%; }
.swiper_w>.swiper-slide:nth-child(8) img:nth-child(5){ width: 36.2%; top:12.7%; left:30%; }
.swiper_w>.swiper-slide:nth-child(8) img:nth-child(6){ width: 11.6%; top:24.5%; left:78.2%; }
.swiper_w>.swiper-slide:nth-child(8) img:nth-child(7){ width: 11.3%; top:8.9%; left:91.8%; }
.swiper_w>.swiper-slide:nth-child(8) img:nth-child(8){ width: 57.6%; top:38.3%; left:20.3%; }
.swiper_w>.swiper-slide:nth-child(8) img:nth-child(9){ width: 43%; top:55.3%; left:28.5%; }
.swiper_w>.swiper-slide:nth-child(8) img:nth-child(10){ width: 54.8%; top:64%; left:24.5%; }
.swiper_w>.swiper-slide:nth-child(8) img:nth-child(11){ width: 11.8%; top:74.1%; left:14.6%; }
.swiper_w>.swiper-slide:nth-child(8) img:nth-child(12){ width: 20.9%; top:73.3%; left:38.1%; }
.swiper_w>.swiper-slide:nth-child(8) img:nth-child(13){ width: 19.7%; top:73.3%; left:68.1%; }
.swiper_w>.swiper-slide:nth-child(8) img:nth-child(14){ width: 21.7%; top:80.6%; left:9.7%; }
.swiper_w>.swiper-slide:nth-child(8) img:nth-child(15){ width: 22.1%; top:80.6%; left:38.2%; }
.swiper_w>.swiper-slide:nth-child(8) img:nth-child(16){ width: 21.3%; top:80.6%; left:67.3%; }
.swiper_w>.swiper-slide:nth-child(8) img:nth-child(17){ width: 58.1%; top:45.5%; left:21%; }
.swiper_w>.swiper-slide:nth-child(8) p:nth-last-child(3){ color: #fff; position: absolute; top:32%; left: 42%; font-size: 47%; }
.swiper_w>.swiper-slide:nth-child(8) p:nth-last-child(2){ color: #fff; position: absolute; top:50.3%; left:39.4%; font-size: 47%;}
.swiper_w>.swiper-slide:nth-child(8) p:nth-last-child(1){ color: #fff; position: absolute; top:17.3%; left:29.7%; font-size: 72%;}

.swiper_w>.swiper-slide:nth-child(9) .po_img{ position: absolute; }
.swiper_w>.swiper-slide:nth-child(9) .po_img:nth-child(2){ width: 8.6%; top:9.4%; left: 11.3%; }
.swiper_w>.swiper-slide:nth-child(9) .po_img:nth-child(3){ width: 40.4%; top:14.4%; left: 5.3%; }
.swiper_w>.swiper-slide:nth-child(9) .po_img:nth-child(4){ width: 34.2%; top:15.2%; left:62.6%; }
.swiper_w>.swiper-slide:nth-child(9) .po_img:nth-child(5){ width: 36.6%; top:13.8%; left: 29%; }
.swiper_w>.swiper-slide:nth-child(9) .po_img:nth-child(6){ width: 3.3%; top:18.6%; left: 96.8%; }
.swiper_w>.swiper-slide:nth-child(9) .po_img:nth-child(7){ width: 9%; top:32.5%; left: 85.7%; }
.swiper_w>.swiper-slide:nth-child(9) p{ color: #fff; }
.swiper_w>.swiper-slide:nth-child(9) label{ color: #fff; }
.swiper_w>.swiper-slide:nth-child(9) p:nth-last-child(8){ font-size: 56%; position: absolute; top:20%;left: 18%; }
.swiper_w>.swiper-slide:nth-child(9) p:nth-last-child(7){ font-size: 47%; margin-top: 47%; }
.swiper_w>.swiper-slide:nth-child(9) p:nth-last-child(6){ font-size: 47%; }
.swiper_w>.swiper-slide:nth-child(9) form:nth-last-child(5){ font-size: 78px; margin-top: 7%;}
.swiper_w>.swiper-slide:nth-child(9) form:nth-last-child(5) label{ font-size: 37%; margin-top: 36px; display: inline-block; vertical-align: top; }
.swiper_w>.swiper-slide:nth-child(9) form:nth-last-child(5) div:nth-child(2) label{ word-spacing: 48px; }
.swiper_w>.swiper-slide:nth-child(9) form:nth-last-child(5) input{ color: #fff; height: 78px; width: 40.2%; border: 5px solid #88909a; background: none;border-radius: 16px; outline: none; }
.swiper_w>.swiper-slide:nth-child(9) div:nth-last-child(4){ position: relative; width: 27.4%;margin:6% auto 0; }
.swiper_w>.swiper-slide:nth-child(9) div:nth-last-child(4) img{ width:100%; }
.swiper_w>.swiper-slide:nth-child(9) div:nth-last-child(4) p{ position: absolute; top:10.6%;left: 24.8%; font-size:70%;}
.swiper_w>.swiper-slide:nth-child(9)>p:nth-last-child(3){ font-size: 60%; margin-top: 4%; }
.swiper_w>.swiper-slide:nth-child(9) img:nth-last-child(2){ width: 30%; margin-top: 7%; }
.swiper_w>.swiper-slide:nth-child(9)>p:nth-last-child(1){ font-size: 31%; }


/*第四页的轮播图*/
.swiper-header{  transform: scale(0); height: 100%; width: 100%; position: absolute; top:0; z-index: 5; }
.swiper-header .swiper-slide{ display: flex;justify-content: center;align-items: center;flex-direction: column; }
.swiper-header .swiper-slide img{ width: 43%; }
.swiper-header .swiper-slide p:nth-child(2){ font-size: 80%; margin: 3% 0; }
.swiper-header .swiper-slide p{ color: #fff; font-size: 41%;}
.swiper-header .left_btn{ position: absolute; left: 0; top:46.6%; width: 4.1%; margin-left: 3%;  }
.swiper-header .right_btn{ position: absolute; right: 0; top:46.6%; width: 4.1%; margin-right: 3%; }
/*下面箭头*/
.top_arrow{width: 100%; position: fixed; text-align: center; z-index: 100; bottom: 3.14%; animation: arrow 1s ease-in infinite;   }
.top_arrow img{ width: 8.73%; }











